# OS / editor
.DS_Store
Thumbs.db
*.log

# secrets
.env
.env.*
*.key
*.pem

# archives / media (不要提交到仓库)
*.zip
*.rar
*.7z
*.mp4
*.mov
*.avi

# ===== Python ignore =====
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
lab_venv/
home/**/lab_venv/

# Jupyter
.ipynb_checkpoints/
